.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.header {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 24px 250px;
  gap: 80px;
  opacity: 0.95;
}

.section-1,
.section-2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 50px;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.header-right {
  padding-right: 40px;
}

.header-left {
  padding-left: 40px;
}
.header-links {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: flex-end;
}

li {
  color: white;
  font-size: 14px;
}

button {
  background-color: #3882f6;
  border-radius: 6px;
}

.header-words {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
}

.section-2 {
  background-color: #e5e7eb;
  margin: 0;
  padding: 5% 15%;
  opacity: 0.95;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.card-image {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.section-1-title {
  font-weight: 800;
  font-size: 32px;
}

.section-2-quote {
  max-width: 550;
  font-size: 36px;
  font-family: cursive;
}

.section-2-author {
  align-self: flex-end;
}

.petition-container {
  background-color: rgb(35, 146, 244);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  width: 60%;
  opacity: 0.95;
}

.petition-left,
.petition-right {
  display: flex;
}

.petition-left {
  flex-direction: column;
  justify-content: center;
}

.section-3 {
  padding: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.petition-button {
  background-color: rgb(35, 146, 244);
  padding: 0 10px;
  color: white;
  border: solid;
}

.call-to-action,
.call-to-action-words {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.call-to-action {
  font-weight: 700;
  font-size: 28px;
}

.call-to-action-words {
  font-size: 20px;
}

.inner-footer {
  padding: 10px;
}

h1 {
  font-size: 48px;
}

.header-body {
  font-size: 18px;
}
